@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    background-color: #f1ecdf;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #74359e;
}
.cabecalho{
    position: sticky;
    display: inline-block;
    width: 100%;
    height: 5em ;
    background-color: #74359e;
    z-index: 2;
    top: 0;
}

.saidas{
    color: rgb(0, 0, 0);
    display: inline-flex;
    margin-left: 1.8em;
    position: relative;
    top: 25px;
}
.saidas:hover{
    color: #ffffff;
}
#home {
    margin-left: 28em;
}
a:link {
    text-decoration: none;
  }
  .user{
    position: absolute;
    display: inline-block;
    align-items: center;
    column-gap: 1rem;
    margin-top: 12px;
    margin-left: 35em;
  }
  .cart{
    position: absolute;
    display: inline-block;
    align-items: center;
    column-gap: 1rem;
    margin-top: 12px;
    margin-left: 38em;
    cursor: pointer;
  }
  .user .bx{
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .text{
    display: inline-block;
    position: absolute;
    margin-top: 2em;
    margin-left: 10em;
    border-radius: 5px;
    height: 2em;
  }

  #logo1{
    margin-left: 4em;
    position: absolute;
    margin-top: -2.3em;
  }
                
                /*Formulario*/

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 6%;
}

form{
    background: #fff;
    max-width: 500px;
    height: 450px;
    padding: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 40px black;
}

form h1{
    text-align: center;
    margin-bottom: 10px;
    color: #2D5966;
    font-size: 22pt;
}

form p{
    text-align: center;
    margin-bottom: 25px;
}

form .input-single{
    position: relative;
    margin: 30px 0;
}

form .input-single label{
    position: absolute;
    left: 0;
    bottom: 5px;
    cursor: text;
    transition: all 0.5s;
    color: #808080;
}

form .input-single .input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #808080;
    padding: 5px;
    outline: 0;
    font-size: 16px;
}

form .input-single .input:focus{
    border-bottom: 2px solid #2D5966;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label{
    transform: translateY(-20px);
    font-size: 12px;
    color: #2D5966;
}

.btn{
    width: 100%;
    text-align: center;
}

form input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
    background-color: #2D5966;
    color: #fff;
    font-size: 14pt;
    cursor: pointer;
}
.mapa{
    margin-left: 40em;
    margin-top: -30em;
}
            /*Rodape*/
.rodape{
    margin-top: 10em;
    width: 100%;
    height: 16em ;
    background-color: #4d4d4d;
    box-shadow: 10px 10px 40px white;
}
.txtrodape{
    display: inline-block;
    position: absolute;
    margin-left: 3em;
    margin-top: 2em;
}
.merchan{
    position: absolute;
    margin-top: 3em;
    margin-left: 40em;
    color: #f1ecdf;
    cursor: pointer;
}
h3{
    display: inline-block;
    margin-bottom: 0.2em;
}
h5{
  display: inline-block;
  margin-top: 0em;
}
.BTN{
    position: absolute;
    margin-top: 3em;
    margin-left: 60em;
    color: #f1ecdf;
    cursor: pointer;
}
.icon{
    position: absolute;
    margin-top: 3em;
    margin-left: 58em;
}
#redeS{
  margin-top: 0.7em;
}
.btn1{
  text-align: center;
  width: 7em;
  color: black;
  display: inline-block;
  position: absolute;
  margin-top: 6.5em;
  margin-left:  60em;
  border-style: solid;
  border-radius: 5em;
  border-color:black ;
  background-color: #f1ecdf;
  font-size: 1em;
  text-decoration: none;
}
.meta{
  width: 10em;
  display: inline-block;
  position: absolute;
    margin-top: -11em;
    margin-left: 91.5em;
}
#rs{
  transition: transform 1s;
}
#rs:hover{
  transform: scale(0.9);
}
